@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin:wght@500&family=Roboto:ital,wght@1,100&display=swap');

*{
    margin:0px ;
    padding:0px;

}
html {
  scroll-behavior: smooth;
}
:root{
    /* Teal, grey, blue, bright white, dark grey and aqua marine */
      --defaultcolor:#2b6777;
  --color-white:#ffffff;/* for fonts */
  --color-shadow:#c8d8e4;
  --color-btn-a:#52ab98;
  --color-btn-b:#f2f2f2;
    --border-shadow:#3a99b3;
        
      }
  

.loader .typing, .loader .typed-cursor{
 
  font-size:43px;
  
}
.burger{
  position: absolute;
  cursor: pointer;
}
.burger .line{
  height:5px;
  width:40px;
  background:var(--border-shadow);
  border-radius: 30px;
  margin: 7px 1vw 0vw 46vw;
}

.navbar{
  display: none;
    height:83px;
  background:var( --defaultcolor);
  
  
}
.navbar ul {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  
}
.navbar .box{
  list-style: none;
color: var(--color-white);
margin:27px 18px 0px 11px;
  font-size: 1.3rem;
  transition:all 0.2s ease-in;
}
.navbar .box:hover{

  
 transform: scale(1.05);
  
  
  
  
}
.box a{
  text-decoration: none;
  color: var(--color-white);
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height:571px;
  width:100%;
}
.home .business-card{
   display: flex;
  justify-content: center;
  align-items: center;
}
.home .business-card img{
 
  position:absolute;
  z-index:-1;
  height:571px;
  width:100%;
  
  
  /*! margin: 35px 390px 23px 30px; */
}

.name {
  font-size: 4.3rem;
}

.business-card .left-container{
  font-size:2.2rem;
  color:var(--color-white);
  margin:20vw 15vw 14vw 15vw;
  
  height: 179px;
  background: var(--defaultcolor);
  padding: 2vw 7vw 2vw 8vw;
  /*! padding-left: 78px; */
  width: 41vw;
  /*! display: flex; */
  /*! flex-direction: column; */
  border-radius: 8px;
  opacity: 0.9;
}
.left-container .name, .left-container .profession , .left-container .typed-cursor  {
  color:var(--color-btn-a);
  
}
.my-inspiration{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction:column;
 
  /*! display: none; */
  overflow: hidden;
}
.my-inspiration h1{
  margin:30px 30px;
  height:90px;
  font-size:3.3rem;
  position:relative;
}

.my-inspiration h1:before{
content: "";
position: absolute;
bottom: 0;
left: 50%;
width: 369px;
height: 3px;
background: #111;
transform: translateX(-50%);
  border-radius:90px;
  /*!  */
}
.my-inspiration h1:after{
  content:"People I'm Impressed with";
  position: absolute;
  width:235px;
bottom: -8px;
left: 50%;
font-size: 20px;
color: var(--defaultcolor);
padding: 0 5px;
background: #fff;
transform: translateX(-50%);
  text-align: center;
}

.comon-class{
    display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  margin:25px 88px;
  
  height:402px;
    box-shadow:0px 0px 27px 0px grey;
    /*! align-content: ; */
    flex-direction: column;
    width: 59%;
}
.comon-class img{
  height:289px;
  position: absolute;
  width: 51%;
  /*! margin: ; */
}
.comon-class .article{
  margin:30px;
  font-size: 0.1rem;
}
.article .blog-button{
  background: var(--defaultcolor);
color: var(--color-white);
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
height: 45px;
width: 18%;
border-radius: 10px;
margin-top: 10px;
}
.skills{
 
  align-items:center;
  overflow: hidden;
}

.skills h1{
  margin:30px 30px;
  height:90px;
  font-size:3.3rem;
  position:relative;
  color:var(--color-white);
}

.skills h1:before{
content: "";
position: absolute;
bottom: 14px;
left: 50%;
width: 173px;
height: 3px;
background: var(--color-white);
transform: translateX(-50%);
  border-radius:90px;
  /*!  */
}
.skills h1:after{
  content:"what i know";
  position: absolute;
  width:114px;
bottom: 5px;
left: 50%;
font-size: 21px;
color: var(--color-btn-a);
padding: 0 5px;
background: #fff;
transform: translateX(-50%);
  text-align: center;
  background:var(--defaultcolor);
}

.skills .skillsbox{
  display:flex;
   justify-content: center;
  align-items:center;
  flex-direction:column;
}
.skillsbox .experience{
  
  height:300px;
  width:100%;
    color: var(--color-white);
  font-size:1.3rem;
  box-sizing: border-box;
  padding: 16px 54px 16px 53px;
}

 .experience h2 {
  color: var(--color-white);
  font-size: 2.2rem;
}
.experience a{
  background: var(--color-white);
    color:var(--color-btn-a);
  text-decoration:none;
  display:flex;
  justify-content: center;
    align-items: center;
    height:40px;
  width:31%;
  border-radius:10px;
  margin-top:10px;
}
.skill{
  height:300px;
  width:100%;
  box-sizing: border-box;
  padding: 20px 104px 15px 74px;
}
.skill .skill-box{

 
  width:100%;
   color:var(--color-white);
   
  
  list-style: none;
  margin: 4px 0px;
  font-size: 2.3rem;
}
.my-service{
  
  overflow: hidden;
  height: 804px;
}
.my-service h1{
  margin:10px;
  position: relative;
  bottom:100px
  
}
.my-service h1:before{
content: "";
position: absolute;
bottom: -15px;
left: 50%;
width: 302px;
height: 3px;
background: black;
transform: translateX(-50%);
  border-radius:90px;
  /*!  */
}

.my-service .services{

  height:462px;
 flex-direction: column;
}

.services .common-box{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  margin:0px 76px 0px 81px;
   padding: 16px 13px 14px 13px;
  border: 2px solid var(--defaultcolor);
  border-radius: 12px;
}
.services .common-box:hover{
  background: var(--defaultcolor);
  color:var(--color-white);

   transform:scale(1.05);
   transition:transform 0.5s ease;
}
 .common-box img{
  height:30px;

  margin-bottom: 18px;
}
.common-box .box{
 font-size:1.2rem;
  
}
.contact-me {
  display: flex;
  align-items:center;
  justify-content:center;
  background:var(--defaultcolor);
  /*! min-height: 324px; */
  /*! flex-direction:column; */
  
  overflow: hidden;
  /*! height: 39px; */
}
.contact-me h1{
  font-size:2.3rem;
  position: relative;
  color:var(--color-white);
  margin-top:40px;
  margin-bottom:60px;
  
  
}
.contact-me h1::after {
    content: "get in touch";
    position: absolute;
    width: 107px;
    bottom: -21px;
    left: 50%;
    font-size: 21px;
    color: var(--color-btn-a);
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
    text-align: center;
    background: var(--defaultcolor);
}
.contact-me h1::before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 50%;
    width: 214px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
    border-radius: 90px;
  background: var(--color-white)
}
.contact-me .outer-container{
   display: flex;
  /*! align-items:center; */
  /*! justify-content:center; */
   /*! height: 406px; */
   flex-direction: column;
}

.contact-me .outer-container  .left-container{
  width:100%;
  color:var(--color-white);
  
  
 
  padding: 1vw;
}
.left-container h3{
  margin:0px 0px 20px 20px ;
  font-size: 1.5rem;
}
.left-container p{
  margin:0px 0px 20px 20px ;
  font-size: 1.3rem;
}
.left-container .inner-box{
  margin:0px 0px 13px 20px;
  font-size: 1.2rem;
}

.contact-me .outer-container .right-container{
  width:100%;
   display: flex;
  align-items:center;
  justify-content:center;
  
  
  box-sizing: border-box;
  padding: 1vw;
}
.right-container form{
  display: flex;
 
  justify-content:center;
  flex-direction: column;
  
}
.right-container form label{
  font-size:1.4rem;
  color:var(--color-white);
  position: relative;
  left:11px;
  
}
.right-container form .input-box{
  height:40px;
  margin:2px;
  width:327px;
  border-radius:10px;
  border:2px solid var(--color-white);
 font-family: 'Kaisei Tokumin', serif;
  color:var(--defaultcolor);
  font-size:1.1rem;
  font-weight:900;
  
}
.right-container form button{
  margin-top:10px;
    margin-bottom:50px;
  height:40px;
  width:30%;
  border-radius:8px;
  background: var(--color-white);
  border:0px;
  color:var(--color-btn-a);
  
}
.right-container form #desc{
   min-height:90px;
   min-width:327px;
  max-height:90px;
   max-width:327px;
}
.footer{
  display: flex;
  justify-content:center;
 flex-direction: column;
  height:250px;
  background:rgba(74, 72, 72, 0.73);
 

  
  overflow: hidden;
}
.footer .social{
  display: flex;
  justify-content: center;
  align-items: center;
   margin:50px;
  margin-bottom:20px;
    flex-direction:column;
}
.footer .social p{
  color:Var(--color-white);
  font-size:1.3rem;
  position: relative;
  
  
  z-index: 3;
  margin: 20px;
}
.social p:before{
   content: "";
    position: absolute;
    bottom: -8px;
    left: 50%;
    width: 340px;
    height: 5px;
    background: black;
    transform: translateX(-50%);
    border-radius: 90px;
  background: var(--defaultcolor);
   /*! z-index: ; */
}
.footer .social .social-container{
   display: flex;
  justify-content: center;
  align-items: center;
  
}
.footer .social .socialaccount-1 img{
  height:30px;
  margin:10px;
}
.footer .social .socialaccount-2 img{
  height:30px;
   margin:10px;
}
.footer .article{
 display: inline-block;
  text-align: center;
  margin:1px 30px 30px 30px;
  
}

@media screen and (max-width:645px){
  html{
    font-size:14px;
  }
 .business-card .left-container{
    width:60%;
   height:160px;
  }
  .my-inspiration h1{
    font-size:2.9rem;
  }
  .my-inspiration h1:before{
    bottom: 28px; 
    width: 280px;
    
}
  
.my-inspiration h1:after{
  
width: 229px;
bottom: 20px;

  }
  .services .common-box{
    margin: 20px 90px 0px 90px;
  }}
@media screen and (max-width:471px){
  html{
    font-size:9px;
  }
 .business-card .left-container{
    width:60%;
   height:110px;
  }
  .my-inspiration h1{
    font-size:2.9rem;
  }
  .my-inspiration h1::before{
    bottom: 36px;
    /*! width: 178px; */
  }
  
  .my-inspiration h1::after{
    width:197px;
    /*! font-size:rem; */
  }
  
.my-inspiration h1::after{
  
width: 229px;
bottom: 27px;

}
}

@media screen and (max-width:363px){
  html{
    font-size:9px;
  }
 .business-card .left-container{
    width:60%;
   height:110px;
  }
  .my-inspiration h1{
    font-size:2.9rem;
  }

.common-box .box {
 margin-top:-20px;
}
}
@media screen and (max-width:337px){
  html{
    font-size:8px;
  }
  
 .right-container form .input-box {
    height: 30px;
    margin: 4px 40px 2px 30px ;
    width: 207px;
    border-radius: 10px;
    border: 2px solid var(--color-white);
    font-family: 'Kaisei Tokumin', serif;
    color: var(--defaultcolor);
    font-size: 1.1rem;
    font-weight: 900;
}
  .right-container form #desc{
    min-height: 90px;
min-width: 207px;
max-height: 90px;
max-width: 207px;
  }
  .right-container form button{
    margin:10px 0px 20px 40px;
  }

  }

}
