*{
    margin:0px ;
    padding:0px;

}
.loader{
height:100vh;
  width:100%;
  background:#2b6777;
  display:flex;
 justify-content: center;
  align-items: center;
  
  
}
.loader .typing, .loader .typed-cursor{
  color:#ffff;
  font-size:73px;
  
}
.home{
    height:100vh;
    width:100%;
    background:
}